{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1> Je me connecte :</h1><br><br>
        <form method="post" action="">
            <label>
                ID : <input type="text" name="nom" />
            </label><br>

            <label>
                Mot de passe : <input type="text" name="password" />
            </label><br/><br/>

            <label>
                Valider :  <input type="submit" name="valide"/>
            </label>

        </form>

    </div>
{% endblock %}